{% extends 'layout.html' %}
{% load static %}
{% block title %}Signup{% endblock %}
{% block body %}


{% block css %}
<link rel="stylesheet" href="{% static 'replayso.css' %}">
{% endblock %}

    <div class="main-sign-up">
        <h3 class="creat-h1">Create an account</h3>
   <div class="creat">
    <p class="alerdy-p">Already have an account?</p>
   <a class="sign-in-anchor" href="{% url 'login' %}"> Log in </a>
   </div>
   <div style="width:500px;">
   <form method="post" action="/signup/"> 
    {% csrf_token %}
    

        <p class="main-content">Username</p>
        <input class="input-username" type="text" name = "username">
        <p class="main-content">Email Address</p>
        <input class="input-username" type="text" name = "email">
        <p class="main-content">Password</p>
        <input class="input-username"type="password" name = "password">
      
        <p><button class="creat-account-button" type="submit">Create account</button></p>
    </form>
</div>
</div>

{% endblock %}